<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/about.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Prashant Kumar. It uses location data from mapbox.com and weather data from openweather.org </p>
            <img class="portrait" src="images/me.jpg">  

        </div>
        
        <p>{{>footer}}</p>
    </body>


</html>